<footer > 
	<hr>
	<div class='text-center'> Developed By - <a href="mailto:mihirsanchala@gmail.com">Mihir Sanchala</a></div>
</footer>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery-ui.js"></script>
<script src="/javascripts/common.js"></script>
<script src="/javascripts/dashboard.js"></script>