body {
  margin:0 auto;
}

#index-container,#create {
  width:500px;
  margin:0 auto;
}

#dashboard-container{
  width:800px;
  margin:0 auto;
}

.width-100{
  width:100px;
}

#index-alert, #dashboard-alert{
  display:none;
}