<!DOCTYPE html>
<html lang="en">
<body>
	<div>
		Hello,
		<br><br>
		<h3>Welcome to Task Reminder</h3>
		To activate your account kindly <a href='http://192.168.3.181:3000/activate/<%- objectID %>'>Click Here</a>
	</div>
</body>
</html>

