<!DOCTYPE html>
<html lang="en">
<body>
	<div>
		Hello,
		<br><br>
		Your To-Do list for today is :- 
		<br><br>
		<table style="width:600px" border="1">
			<tr >
				<th style="text-align:center;width:50px" >#</th>
				<th style="text-align:center;" >Details</th>
				<th style="text-align:center;width:150px" >Actions</th>
			</tr>
			<% 	count=1;
				taskDetails.forEach(function(singleTask){ %>
				<tr>
					<td style="text-align:center;"><%- count %></td>
					<td style="text-align:center;"><%- singleTask.details %></td>
					<td style="text-align:center;">
						<a href='http://192.168.3.181:3000/completed/<%- singleTask._id %>'>Completed</a>
						&nbsp;&nbsp;
						<a href='http://192.168.3.181:3000/snooze/<%- singleTask._id %>'>Snooze</a>
					</td>
				</tr>
			<% 	count++;
				}); %>
		</table>
	</div>
</body>
</html>

