<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../partials/head'); %>
</head>
<body>
	<div>
		<%- include('../partials/header'); %>
		<br/>
		<div class="jumbotron text-center">
			<span class="span7">
			  <h2>Oops Error.</h2>
			  <p>Please go back to <a href="//192.168.3.181:3000">Task Reminder</a>.</p>
			</span>
		</div>
		<%- include('../partials/footer'); %>
	</div>
</body>
</html>

